/* all your styles for dark mode here */

body{
    color: white;
    background-image: url('/img/crna.jpg');
    background-size: cover;
}

#wrapper{
    background-color: #181a1b;
}

#sidebar{
    background-color: #1d1f20;
}

a:visited {
    /* color: #ac1214; */
    color: #f07072;
}

#sidebar h1, #sidebar h2 {
    border-bottom: 5px solid #545454;
}

#tags ul li a:visited {
    background-color: #2c2e30;
}

.imgRight p{
    color: #BAB5AB;
}

#header {
    background-color: #AC1214;
    border-bottom: 5px solid #585858; 
}

#footer {
    border-top: 5px solid #585858; 
}

#news .article h3 {
    color: rgb(189, 184, 175);
}

#logo { 
    border-right: 1px solid #932E2F;
}


/* slidebar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C1E1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2A2C2E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
    margin: 25px 20px;
}

.switch input{display: none;}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

#input:checked + .slider{
    /* 3694FF */
    background-color: #181a1b;
}

#input:checked + .slider::before{
    transform: translateX(19px);
}