body{
    background-image: url('/img/bela.jpg');
    background-size: cover;
}

/* scrolbar style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #787878;
}

.switch{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
    margin: 25px 20px;
}

.switch input{display: none;}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

#input:checked + .slider{
    /* 3694FF */
    background-color: #181a1b;
}

#input:checked + .slider::before{
    transform: translateX(19px);
}